<template>
    <section class="header is-fixed-top" :class="{ transparent: isHomePage }">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <router-link :to="{ name: 'home' }" exact>
                        <h1 class="logo">Holmweb</h1>
                    </router-link>
                </div>
                <div class="nav-center nav-menu">
                    <router-link class="nav-item link-home" :to="{ name: 'home' }" exact>Home</router-link>
                    <router-link class="nav-item link-about" :to="{ name: 'about' }">About</router-link>
                    <router-link class="nav-item link-portfolio" :to="{ name: 'portfolio' }">Portfolio</router-link>
                    <router-link class="nav-item link-contact" :to="{ name: 'contact' }">Contact</router-link>
                </div>
                <div class="nav-right social-nav">
                    <a href="https://bitbucket.org/johanholm/" target="_blank">
                        <span class="icon">
                            <i class="fa fa-bitbucket"></i>
                        </span>
                    </a>

                    <a href="mailto:johan@holmweb.se">
                        <span class="icon">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </a>

                    <a href="https://www.linkedin.com/in/johan-holm-327477111" target="_blank">
                        <span class="icon">
                            <i class="fa fa-linkedin"></i>
                        </span>
                    </a>
                </div>
            </div>
        </header>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                isHomePage: this.$router.currentRoute.name === 'home'
            }
        },
        mounted() {
            Bus.$on('page.changed', (page) => {
                this.$set(this, 'isHomePage', page.name === 'home');
            });
        }
    }
</script>
