<template>
    <transition name="fade">
        <div id="intro" v-if="show">
            <div class="loader is-loading"></div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                show: true
            }
        },
        created() {
            Bus.$on('page.ready', () => {
                this.$set(this, 'show', false);
            });
        }
    }
</script>
