section.header {
  width:100%;
  height:100%;
  max-height:85px;
  @media(max-width: 768px) {
    max-height:120px;
  }
  background: $dark-blue;
  position:fixed;
  z-index: 100;
  transition: background .4s ease-in-out;
  &.transparent {
    background: transparent;
  }
}
header.nav {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  background: transparent;

  width: 100%;
    .nav-center {
      box-shadow: none !important;
    }
    .container {
      margin: 0 15px;
    }
    .nav-item {
      padding: 0.5rem 0.75rem 0 0.75rem;
      margin-bottom: 0.5rem;
    }
    .nav-menu {
      border: 0;
      background-color: transparent;

    }
    .logo {
      font-size: 2.5rem;
      color: $white;
      font-family: $family-logo;
      &:hover, &:active {
        color: $white;
      }
    }
    .nav-item a, a.nav-item {
      touch-action: manipulation;
      font-family: $family-sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      border:0;
      border-bottom: 3px solid rgba(125,125,125,.5);
      font-size: 1rem;

      @media (min-width: 430px) {
        margin: 0 1rem;
      }
    }

    .nav-item a.is-active, a.nav-item.is-active {
      border-bottom: 3px solid $brand;
      background: $brand;
      &.link-about {
        border-bottom: 3px solid #42B983;
        background: #42B983;
      }
      &.link-home {
        border-bottom: 3px solid #4251b9;
        background: #4251b9;
      }
      &.link-portfolio {
        border-bottom: 3px solid #ff3860;
        background: #ff3860;
      }
      &.link-contact {
        border-bottom: 3px solid #ffdd57;
        background: #ffdd57;
        color: rgba(0, 0, 0, 0.7);
      }
    }

    .social-nav {
      display: flex;
      align-items: center;
      a {
        color: $white;
        &:hover, &:active {
          color: $white;
        }
        .icon {
          font-size: 1.5rem;
        }
        &:nth-of-type(2n) {
            padding: 0 .5rem;
        }
      }
    }
}