#intro {
  height:100%;
  width:100%;
  display: flex;
  background: $dark-blue;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  z-index: 999999;
  .loader {
    width: 10rem;
    height: 10rem;
  }
}