<template>
    <div id="page-about" class="page">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h2 class="title">
                        Front & Back-end entusiast
                    </h2>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="columns">
                    <div class="column is-3">
                        <div class="block">
                            <img src="/images/jeg.jpg">
                        </div>
                        <div class="block">
                            <h5 class="subtitle">Interests</h5>
                            <span class="tag is-small" v-for="interest in interests">
                                {{ interest }}
                            </span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="block">
                            <h5 class="subtitle">Introduction</h5>
                            <p>
                                Hi, I'm {{ getYearsFrom("1989-01-11") }} years old and live in Gothenburg Sweden.
                                I have extensive experience with modern web technologies and I'm a quick learner with a thirst for knowledge.
                            </p>
                            <p>
                                I've worked as a developer for about {{ getYearsFrom("2012-02-04") }} years.
                                I've learned a lot since I started out my career as a software engineer and have specialized in modern web techniques like MVC and OOP.
                            </p>
                            <p>
                                In my spare time I enjoy being creative by testing new coding ideas, or play some instrument.
                                Besides that I have the obvious interest for playing computer games (casual scrub).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                interests : [
                    'Beer', 'Git', 'Nature', 'Laravel', 'Unix', 'Vue', 'Chess', 'ES6', 'Mushrooms',
                    'C#', 'Webpack', 'Piano', 'Doctrine', 'Mac', 'Music', 'OOP', 'Meditation', 'Guitar', 'Plants'
                ]
            }
        },
        methods: {
            getYearsFrom(fromDate) {
                return ~~( (Date.now() -new Date(fromDate) ) /315576e5 )
            }
        }
    }
</script>
