<template>
    <div id="page-home" class="page">
        <div class="snow"></div>
        <div class="intro-text" style="z-index:999999">
            <h1>Johan Holm</h1>
            <h2>Front & Back-end entusiast.</h2>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>
