<template>
    <div id="page-portfolio" class="page">
        <section class="hero is-danger">
            <div class="hero-body">
                <div class="container">
                    <h2 class="title">
                        See my work
                    </h2>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <h3>More to come..</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        mounted() {
        }
    }
</script>
