@keyframes move-snow-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-snow-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-snow-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-snow-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.snow{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.snow {
  background: transparent url(../images/snow.png) repeat top center;
  z-index:0;
  animation:move-snow-back 10s linear infinite;
}