body, html {
  width:100%;
  height: 100%;
}

body {
  background: $dark-blue;
  font-family: $family-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
}

.container > .columns {
  margin-left: 0;
  margin-right: 0;
}