$white: #F9F9FD;
$brand: #42B983;
$dark-blue: #111a24;

$turquoise: $brand;

$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Oswald', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-serif: -apple-system, BlinkMacSystemFont, 'Roboto Slab', serif;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace !default
$family-logo: 'Pacifico', cursive;