.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 120px;

  .title {
    margin: 0;
  }

  .content {
    background: #f7fcf6;
    padding: 4.5rem 0;
    position: relative;
  }
}