#page-home {
  width: 100%;
  height: 100vh;
  background: transparent url(/images/home-background.jpg) no-repeat fixed 50% 50%;
  background-size:cover;
  .intro-text {
    text-align: center;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1,h2 {
      color: $white;
      margin:0;
    }
    h1 {
      text-transform: uppercase;
      font-size: $size-1;
    }
    h2 {
      font-size: $size-3;
    }
  }
}